<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'bootstrap.html' %}
  <title>Career Website</title>
  <style>
    #banner {
      height: 360px;
      width: 100%;
      object-fit: fill;
      margin-top:1px;
      margin-bottom: 16px;
    }
  </style>
</head>
<body>
  {% include 'navbar.html' %}
  <img id="banner" src="static/newBanner1.jpg" class="img-fluid">
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Career Page</h1>
    <div class="row" style="margin-bottom:16px">
    <div class="col-md-6">
    <p class="lead">Are you passionate about coding, problem-solving, and building innovative applications? As a Software Engineer at our company, you'll work with cutting-edge technologies to design, develop, and optimize scalable software solutions. You'll collaborate with a talented team to create impactful applications that enhance user experiences and drive business success.

    We’re looking for engineers who thrive in a fast-paced environment, embrace challenges, and continuously seek to learn and grow. If you're excited about building high-quality software and contributing to a dynamic team, we'd love to hear from you! Apply today and be a part of our journey.</p>
      </div>
        <div class="d-none d-md-block col-md-6">
          <img src="static/peopel3.jpg" style="height: 320px; border-radius:4px">"
        </div>
      </div>
    </div>
    <h2 class="text-center">Open Positions</h2>
    <div class="container">
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
      <a href="mailto:elevenshelby003@gmail.com?subject=Apply job application" class="btn btn-primary btn-lg">Contact Us</a>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>