<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrer Website</title>
  <style >
    h1{
      font-size: 40px;
      font-family: Roboto;
      font-weight: normal;
      color: rgb(50,50,50);
      text-align: center
    }

    #banner{
      width:100%;
      height:360px;
      /* object-fit: cover; */
    }
    h2{
      font-family:Roboto;
      font-size: 32px;
      color: rgb(100,100,100);
      text-align: center;
      font-weight: normal;
    }

    .container{
      max-width:720px;
      margin:0 auto;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Carrer Page</h1>
    <img id="banner" src="static/banner.jpg">
    <h2>About Carrer</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur egestas ligula egestas, tincidunt turpis volutpat,             finibus urna. Donec nec mattis justo. Curabitur et orci ac odio iaculis tincidunt vel a nisi. Maecenas a pharetra felis.          Sed nec condimentum ipsum, et posuere eros. Sed ac enim turpis. Aenean vel neque elementum, fringilla eros sollicitudin,           elementum ex. Etiam imperdiet justo at erat porttitor cursus. Curabitur at consequat risus. Donec malesuada felis ac             ipsum vehicula scelerisque. Maecenas pharetra efficitur lectus id mattis. Duis sed purus lobortis, cursus tortor eu,              tristique elit. Duis non lacus pellentesque, consequat metus sed, scelerisque dolor. Vivamus bibendum sem lorem, et               viverra elit egestas sit amet. Nam id sapien at eros sagittis scelerisque. Nullam ac tincidunt</p>
    <h2>Open Positions</h2>
    <p>TODO - Show the jobs here</p>
    <div style="text-align:center">
      <button>Contact Us</button>
      <p>© Copyright 2025 Tapan Behera</p>
    </div>
  </div>
  
</body>
</html>